/* Define custom variables */
:root {
    --primaryColor: darkcyan;
    --secondaryColor: rgb(26, 48, 48);
    --alternativeColor: rgb(12, 46, 110);
    --tealBlueColor: #043b5c;
    --whiteText:white;
    /* none | h-offset (X) v-offset (Y) blur spread color |inset|initial|inherit*/
    --mainBoxShadow: .3vw .3vw 1vw rgba(22, 69, 62, 1);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primaryColor);
}
h1 {
    text-align: center;
    justify-content: center;
    padding-bottom: 1rem;
}
h2 {
    border: 5px solid #043b5c;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 280px;
    margin: auto;
    text-align: center;
    align-self: center;
    justify-content: center;
}
.table-sect {
    margin: auto;
    padding-top: 2rem;
    align-items: center;
    align-self: center;
    justify-content: center;
}
th,td {
    border: 3px solid black;
    box-shadow: inset .2em .2em 3px 0 gray, inset -0.2em -0.2em 2px 0 black;
    padding: 5px;
}